@font-face {
  font-family: "--ff-regular";
  src: url("/fonts/InterTight-Regular.woff2") format("woff2"),
    url("/fonts/InterTight-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "--ff-medium";
  src: url("/fonts/InterTight-Medium.woff2") format("woff2"),
    url("/fonts/InterTight-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "--ff-bold";
  src: url("/fonts/InterTight-Bold.woff2") format("woff2"),
    url("/fonts/InterTight-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "--ff-semibold";
  src: url("/fonts/InterTight-SemiBold.woff2") format("woff2"),
    url("/fonts/InterTight-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
