@import "./mixins";
.header {
  height: var(--header-height);
  margin: auto;
  position: relative;
  z-index: 10;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transition: top 0.6s;
  .header-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: space-between;
    gap: var(--gutter);
  }
  &__logo {
    align-content: center;
    &-link {
      overflow: hidden;
      position: relative;
      display: block;
    }
    &.--text {
      font-size: var(--fs-link);
      font-family: var(--ff-bold);
      transition: all 0.3s;
    }
    &-name {
      color: var(--neutral-40);
    }
    &-middle {
      color: var(--neutral-100);
    }
    .content-top {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0;
      height: fit-content;
      width: 100%;
    }
    .content-bottom {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      gap: 0;
      top: 100%;
      left: 0;
      width: 100%;
      height: fit-content;
    }
  }
  &__cta {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--gap);
    .btn-hamburger {
      display: block;
      position: relative;
      transition: all 0.3s;
      &:hover {
        transform: scale(0.95);
        span {
          transition: all 0.3s;
          &:nth-of-type(1) {
            top: -4px;
          }
          &:nth-of-type(3) {
            bottom: -4px;
          }
        }
      }
      span {
        display: block;
        height: 1px;
        width: 14px;
        border-radius: 9999999px;
        background-color: var(--neutral-100);
        transition: all 0.3s;
        position: relative;
        overflow: hidden;
        &:nth-of-type(1) {
          top: -5px;
        }
        &:nth-of-type(3) {
          bottom: -5px;
        }
      }
      &.--active {
        border-color: var(--neutral-0);
        span {
          background-color: var(--neutral-0);
          &:nth-of-type(1) {
            top: -1px;
            transform: rotate(45deg);
          }
          &:nth-of-type(2) {
            opacity: 0;
          }
          &:nth-of-type(3) {
            top: -3px;
            transform: rotate(-45deg);
          }
        }
      }
    }
  }
  &.--active {
    color: white;
    .header__logo {
      &-link {
        .--text {
          color: var(--neutral-0);
        }
      }
    }
    .header__cta {
      &-btntalk {
        color: var(--neutral-0);
        border-color: var(--neutral-0);
        .btn__icon {
          svg,
          path {
            stroke: var(--neutral-0);
          }
        }
      }
    }
  }
  &.--scroll-down {
    top: calc(-1 * var(--header-height));
  }
  &.--scroll-up {
    background-color: var(--bg-color);
  }
  // RESPONSIVE
  @include xs {
    &__cta {
      .btn-hamburger {
        height: 48px;
        width: 64px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0;
      }
    }
  }
}
