.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  color: var(--neutral-0);
  background-color: var(--neutral-100);
  z-index: 1;
  padding-top: 0;
  overflow: hidden;
  &.--active {
  }
  &__list {
    padding-top: 40px;
    padding-bottom: 40px;
    border-top: 1px solid var(--neutral-50);
    border-bottom: 1px solid var(--neutral-50);
    &-item {
      height: 100%;
      width: 100%;
      &:not(:first-of-type) {
        margin-top: 32px;
      }
      &:hover {
        .link {
          transform: translateX(72px);
          .arrow {
            transform: rotate(45deg);
            opacity: 1;
          }
          // &__btn {
          //   .btn__icon {
          //     transform: rotate(-45deg);
          //   }
          // }
        }
      }
      .link {
        display: block;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        gap: var(--gap);
        transition: all 0.3s;
        position: relative;
        .arrow {
          height: 72px;
          width: 72px;
          display: flex;
          align-items: center;
          justify-content: center;
          opacity: 0;
          transition: all 0.3s;
          svg {
            height: 72px;
            width: 72px;
            color: var(--neutral-0);
          }
        }
        &__text {
          font-size: var(--fs-h2);
          font-family: var(--ff-bold);
          &-position {
            font-size: var(--fs-body-md);
            color: var(--neutral-50);
          }
        }
        // &__btn {
        //   border-color: var(--neutral-0);
        //   .btn__icon {
        //     transition: all 0.3s;
        //     svg,
        //     path {
        //       stroke: var(--neutral-0);
        //     }
        //   }
        // }
      }
    }
  }
}

.nav-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
}

.bg-opacity {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
}
