@import "./mixins";
:root {
  /* Container */
  --page-max-width: 1920px;
  --pd-container: 72px;
  --pd-section: 72px;
  --container-max-width: calc(1240px + 2 * var(--pd-container));
  --gutter: 20px;
  --gap: 16px;
  --header-height: 96px;

  /* Color styles */
  --primary-text-color: var(--neutral-70);
  --bg-color: var(--neutral-0);
  --fs-error: 1.4rem;
  --fs-body: 1.8rem;
  --fs-body-md: 2.2rem;
  --fs-body-lg: 2.8rem;
  --fs-link: 1.6rem;
  --fs-h1: 10.4rem;
  --fs-h2: 7.2rem;
  --fs-h3: 6.4rem;
  --fs-h4: 5.6rem;
  --fs-h5: 4rem;
  --fs-h6: 3.2rem;

  --btn-height: 48px;
  --btn-pd: 20px;
  --btn-gap: 12px;
  --btn-border-width: 1px;
  --btn-border-color: var(--neutral-100);
  --btn-text: 1.6rem;

  --btn-height-lg: 76px;
  --btn-pd-lg: 36px;
  --btn-text-lg: 2.2rem;
  --btn-primary-color: var(--neutral-100);

  --btn-height-md: 56px;
  --btn-pd-md: 26px;
  --btn-text-md: 2.2rem;

  --input-height: 44px;
  --input-pd: 8px;
  --input-border-radius: 8px;

  --neutral-100: rgba(3, 7, 18, 1);
  --neutral-90: rgba(17, 24, 39, 1);
  --neutral-80: rgba(31, 41, 55, 1);
  --neutral-70: rgba(55, 65, 81, 1);
  --neutral-60: rgba(75, 85, 99, 1);
  --neutral-50: rgba(107, 114, 128, 1);
  --neutral-40: rgba(174, 178, 186, 1);
  --neutral-30: rgba(209, 213, 219, 1);
  --neutral-20: rgba(229, 231, 235, 1);
  --neutral-10: rgba(249, 250, 251, 1);
  --neutral-0: rgba(255, 255, 255, 1);

  /* Text-size styles */
  --display-1: 3.6rem;

  --heading-mobile-h1: 5.8rem;
  --heading-mobile-h2: 5.6rem;
  --heading-mobile-h3: 4.8rem;
  --heading-mobile-h4: 4rem;
  --heading-mobile-h5: 3.2rem;
  --mobile-h6: 2.8rem;

  --body-28px-semi-bold: 2.8rem;
  --body-28px-medium: 2.8rem;
  --body-28px-regular: 2.8rem;
  --body-22px-semi-bold: 2.2rem;
  --body-22px-medium: 2.2rem;
  --body-22px-regular: 2.2rem;
  --body-18px-semi-bold: 1.8rem;
  --body-18px-medium: 1.8rem;
  --body-18px-regular: 1.8rem;
  --body-16px-semi-bold: 1.6rem;
  --body-16px-medium: 1.6rem;
  --body-16px-regular: 1.6rem;
  --body-14px-semi-bold: 1.4rem;
  --body-14px-medium: 1.4rem;
  --body-14px-regular: 1.4rem;
  --body-14px-link: 1.4rem;
  --body-12px-regular: 1.2rem;
  --body-12px-semi-bold: 1.2rem;
  --body-12px-medium: 1.2rem;

  /* Effect styles */
  --side-active: inset -2px 0px 0px rgba(151, 202, 61, 1);
  --shadow: 0px 12px 20px rgba(0, 0, 0, 0.21);
  --line-top: 0px -1px 0px rgba(194, 194, 194, 1);
  --line-right: 1px 0px 0px rgba(194, 194, 194, 1);
  --line-down: 0px 1px 0px rgba(194, 194, 194, 1);
  --line-left: -1px 0px 0px rgba(194, 194, 194, 1);

  @include xs {
    /* Container */
    --page-max-width: 100%;
    --pd-container: 20px;
    --pd-section: 40px;
    --container-max-width: 100%;
    --gutter: 12px;
    --gap: 8px;
    --header-height: 88px;

    /* Color styles */
    --fs-error: 1.4rem;
    --fs-body: 1.8rem;
    --fs-body-md: 2.2rem;
    --fs-body-lg: 2.8rem;
    --fs-link: 1.6rem;
    --fs-h1: 5.8rem;
    --fs-h2: 5.6rem;
    --fs-h3: 4.8rem;
    --fs-h4: 4rem;
    --fs-h5: 3.2rem;
    --fs-h6: 2.8rem;

    --btn-height: 56px;

    --btn-height-lg: 72px;
    --btn-primary-color: var(--neutral-100);

    --btn-height-md: 56px;

    --input-height: 44px;
    --input-pd: 8px;
    --input-border-radius: 8px;
  }
}
