@import "../mixins";
.about {
  .schero {
    &__title {
      &-text {
        text-align: center;
      }
    }
    &__desc {
      margin-top: 24px;
      text-align: center;
      max-width: 800px;
      margin-left: auto;
      margin-right: auto;
    }
    &__content {
      margin-top: 56px;
      &-thumbnail {
        aspect-ratio: 1056 / 545;
        max-height: 545px;
        width: 100%;
        overflow: hidden;
        border-radius: 20px;
        img {
          object-fit: cover;
          object-position: 50% 15%;
        }
      }
      &-info {
        margin-top: 56px;
        .desc {
          margin-top: 32px;
          display: flex;
          align-items: flex-start;
          justify-content: space-between;
          gap: var(--gap);
          &__para {
            flex: 1;
          }
        }
      }
    }
  }
  .scexperience {
    display: none;
    &__list {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      gap: var(--gap);
      &-item {
        flex: 1;
        .year {
          color: var(--neutral-40);
        }
        .content {
          margin-top: 24px;
          &__title {
          }
          &__desc {
            margin-top: 8px;
            color: var(--neutral-50);
          }
        }
      }
    }
  }
  .scclients {
    &__title {
    }
    &__list {
      margin-top: 40px;
      &-item {
        padding-left: 24px;
        padding-right: 24px;
        &:hover {
          .link {
            background-color: rgba(229, 231, 235, 0.6);
            &__navigate {
              &-btn {
                transform: rotate(45deg);
              }
            }
          }
        }
        .link {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: var(--gap);
          transition: all 0.3s;
          padding: 24px;
          margin-left: -24px;
          margin-right: -24px;
          border-bottom: 1px solid var(--neutral-20);
          &:first-of-type {
            border-top: 1px solid var(--neutral-20);
          }
          &__content {
            flex: 1;
            &-title {
              font-family: var(--ff-semibold);
              font-size: var(--fs-body-md);
              color: var(--neutral-100);
            }
            &-time {
              margin-top: 8px;
              color: var(--neutral-70);
            }
          }
          &__navigate {
            flex: 1;
            display: flex;
            align-items: center;
            gap: 40px;
            width: 100%;
            justify-content: flex-end;
            &-logo {
              height: 100%;
              width: 100%;
              flex-shrink: 0;
              max-width: 178px;
            }
            &-btn {
              height: 40px;
              width: 40px;
              aspect-ratio: 40 / 40;
              flex-shrink: 0;
              background-color: var(--neutral-20);
              transition: all 0.3s;
              svg {
                height: 100%;
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
  .sccta {
    background-color: var(--neutral-20);
    &__links {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 40px;
      color: var(--neutral-100);
      &-item {
        position: relative;
        &::after {
          content: "";
          display: block;
          position: absolute;
          bottom: -2px;
          width: 100%;
          height: 1px;
          background-color: var(--neutral-100);
          border-radius: 999999px;
          transform: scaleX(0);
          transition: transform 0.3s;
          transform-origin: right;
        }
        &:hover {
          &::after {
            transform: scaleX(1);
            transform-origin: left;
          }
        }
      }
    }
    &__title {
      text-align: center;
      margin-top: 56px;
      color: var(--neutral-100);
    }
    .btn-talk {
      margin-top: 56px;
      width: fit-content;
      margin-left: auto;
      margin-right: auto;
    }
  }
  // RESPONSIVE
  @include xs {
    .schero {
      &__content {
        margin-top: 40px;
        &-thumbnail {
          max-height: 100%;
          aspect-ratio: initial;
        }
        &-info {
          margin-top: 40px;
          .desc {
            margin-top: 16px;
            flex-direction: column;
            &__para {
              width: 100%;
            }
          }
        }
      }
    }
    .scexperience {
      &__list {
        flex-direction: column;
        gap: 56px;
        &-item {
          width: 100%;
        }
      }
    }
    .scclients {
      &__list {
        margin-top: 24px;
        &-item {
          .link {
            &__content {
              display: none;
            }
            &__navigate {
              flex: 1;
              justify-content: space-between;
            }
          }
        }
      }
    }
    .sccta {
      .btn-talk {
        width: 100%;
      }
    }
  }
}
