@import "../mixins";

#home {
  // HERO
  .schero {
    // Title
    &__title {
      &-text {
      }
      &-gray {
      }
    }
    height: 100vh;
    max-height: 900px;
    // Description
    &__desc {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      gap: 32px;
      margin-top: 40px;
      &-line {
        margin-top: 23px;
        max-width: 50%;
      }
      &-text {
        font-size: var(--fs-body-md);
        color: var(--neutral-70);
        max-width: 548px;
        min-width: 548px;
      }
    }
    // CTA
    &__cta {
      margin-top: 56px;
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      gap: var(--gap);
      &-socials {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: var(--gap);
        max-width: 460px;
        .social {
          &__link {
            display: flex;
            align-items: center;
            gap: 12px;
            &-text {
              font-size: var(--fs-link);
              color: var(--neutral-100);
              font-family: var(--ff-medium);
            }
            &-icon {
              margin-top: 1px;
            }
          }
        }
      }
      &-button {
      }
    }
  }
  // ABOUT
  .scabout {
    .scabout-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 56px;
    }
    &__thumbnail {
      width: 100%;
      height: 100%;
      aspect-ratio: 395 / 385;
      max-width: 395px;
      border-radius: 20px;
      overflow: hidden;
      position: relative;
      img {
        object-fit: cover;
        transition-duration: 0.3s;
      }
      &:hover {
        img {
          transform: scale(1.05);
        }
      }
    }
    &__content {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      gap: var(--gap);
      flex-direction: column;
      width: 100%;
      &-desc {
        margin-top: 24px;
      }
      .btn {
        margin-top: 40px;
        font-size: var(--fs-link);
      }
    }
  }
  // WORK
  .scwork {
    &__title {
    }
    &__list {
      margin-top: 56px;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      gap: var(--gutter);
      &-item {
        align-content: flex-start;
        &:nth-of-type(1) {
          grid-column: 1 / 7;
        }
        &:nth-of-type(2) {
          grid-column: 7 / 13;
        }
        &:nth-of-type(3) {
          grid-column: 1 / 13;
          grid-row: 2 / 3;
          .cardwork__thumbnail {
            max-height: 512px;
            aspect-ratio: 1056 / 512;
          }
        }
        &:nth-of-type(4) {
          grid-column: 1 / 7;
        }
        &:nth-of-type(5) {
          grid-column: 7 / 13;
        }
      }
    }
    &__btnviewall {
      margin-top: 54px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  // CLIENTS
  .scclient {
    &__title {
    }
    &__list {
      margin-top: 56px;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      gap: var(--gap);
      &-item {
        display: flex;
        align-content: flex-start;
        flex-direction: column;
        justify-content: space-between;
        gap: var(--gap);
        .content {
          &__title {
            font-size: var(--fs-body-md);
            font-size: var(--ff-semibold);
            color: var(--neutral-100);
          }
          &__year {
            margin-top: 8px;
          }
        }
      }
    }
  }
  // BLOG
  .scblog {
    &__title {
      padding-bottom: 32px;
      border-bottom: 1px solid var(--neutral-20);
    }
    &__btn {
      flex-shrink: 0;
    }
    &__list {
      margin-top: 40px;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      gap: var(--gutter);
      &-item {
        flex: 1;
      }
    }
    &__btnviewall.--mobile {
      margin-top: 32px;
      margin-left: auto;
      margin-right: auto;
      display: none;
    }
  }
  // RESPONSIVE
  @include xs {
    // HERO
    .schero {
      &__title {
        text-align: center;
      }
      &__desc {
        display: block;
        &-line {
          display: none;
        }
        &-text {
          text-align: center;
          margin: auto;
        }
      }
      &__cta {
        margin-top: 40px;
        display: block;
        .btn {
          background-color: var(--neutral-100);
          color: var(--neutral-0);
        }
      }
    }
    // ABOUT
    .scabout {
      .scabout-wrapper {
        flex-direction: column;
        gap: 32px;
      }
      &__thumbnail {
        max-width: 100%;
      }
      &__content {
        text-align: center;
        &-desc {
          margin-top: 16px;
        }
        .btn {
          margin-top: 32px;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
    // WORK
    .scwork {
      &__title {
        text-align: center;
      }
      &__list {
        margin-top: 32px;
        display: block;
        &-item {
          &:not(:last-of-type) {
            margin-bottom: 32px;
          }
        }
      }
      &__btnviewall {
        margin-top: 32px;
      }
    }
    // CLIENTS
    .scclient {
      &__title {
        text-align: center;
      }
      &__list {
        margin-top: 32px;
        flex-direction: column;
        gap: 32px;
        &-item {
          margin: auto;
          gap: 24px;
          .content {
            text-align: center;
            &__title {
              font-size: var(--fs-body-md);
            }
          }
        }
      }
    }
    .scblog {
      &__title {
        text-align: center;

        .btn {
          display: none;
        }
      }
      &__list {
        flex-direction: column;
        gap: 32px;
      }
      &__btnviewall.--mobile {
        display: block;
      }
    }
  }
}
